# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/toDo.txt
/toDoList.txt
/layout.txt
/services/credentials.js
/bin/
/planning.txt
/howToStart.txt
/plan.txt
