// colors
$color-1: #1b8515; // christmas green
$color-2: #0051ff; // accept blue
$color-3: #edff0c; // caution yellow
$color-4: #888; // grey
// fonts
$primary-font: 'Fira Sans',
sans-serif;
$secondary-font: 'Playfair Display',
serif;
